
  body {

  // min-height: 4000px;
  font-family: 'Quicksand', sans-serif;
  }

  // font-family: 'Quicksand', sans-serif;

.nav_layer {

  z-index: 867886546543;
}

  .hero_bg {

    height: 93vh;
    overflow: hidden;
    // background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);

    .team_champs_img {

      background-size: cover;
      background-image: url('../img/jax_2019_champ.png');
      height: 40rem;
      width: 100%; 
      border: 5px solid #ffffff;
  
    }
  }


  // .smooth_ride {

  //   .ride_ink {

  //     /* The default, as in, you get this without defining anything */
  //     transition-timing-function: ease;
  //     -webkit-transform: translateZ( 0 );
  //   transform: translateZ( 0 );
  //   -webkit-transition: -webkit-transform 0.6s ease-in-out;
  //   transition: transform 0.6s ease-in-out;
    
  //     /* Also the same as */
  //     transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      
  //   }

  // }

  .hockey_title {

    font-family: 'Quicksand', sans-serif;
  }

  .bob {

    font-size: 1.3rem;

  }

  .lg_bob {

     font-size: 5rem;

  }

  .banner_text {

    color: #333;

  }

  .large_mg {

    margin-bottom: 6rem;
  }

  .small_mg {

    margin-bottom: 6rem;
  }

  .large_mg_top {

    margin-top: 3rem;

  }

  .mini_mg {

    margin-top: 2rem;

  }

  .large_pd_top {

    padding-top: 6rem;

  }

  .large_pd_bottom {

    padding-bottom: 6rem;

  }

  .map_style_space {

    margin-top: auto;
    margin-bottom: auto;
    height: 30rem;
  }

  .hockey_style_half_adult {
    background-size: cover;
    /* height: 31rem; */
    width: 100%;
    background-image: url('../img/Mike-Pradella.jpg');
}

.hockey_style_half_adult_goalie {
  background-size: cover;
  /* height: 31rem; */
  width: 100%;
  background-image: url('../img/aedo.png');
}


// .gallery_style {

//   background-size: cover;
//   /* height: 31rem; */
//   height: 25rem;
  

//   margin-bottom: auto;
//   margin-top: auto;
  
// }

.stats_area {

  height: 25rem;
  margin-bottom: 8rem;
  margin-top: auto;

}

.stats_frame_style {

  height: 25rem;

}

.footer_cont {

  padding-top: 2rem;
  padding-bottom: 4rem;
}


.footer_container_style {

  width: 100% !important;
  margin-top: 21rem;
  background-color: #333333;
    text-align: center;
    color: #f2f2f2;
}