
  body {

  // min-height: 4000px;
  }

.nav_layer {

  z-index: 867886546543;
}

  .hero_bg {

    height: 93vh;
    overflow: hidden;
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .team_champs_img {

      background-size: cover;
      background-image: url('../img/jax_2019_champ.png');
      height: 40rem;
      width: 100%; 
      border: 10px solid #FFFFFF;
  
    }
  }


  .bob {

    font-size: 1.3rem;

  }

  .lg_bob {

     font-size: 5rem;

  }

  .banner_text {

    color: #ffffff;

  }

  .large_mg {

    margin-bottom: 6rem;
  }

  .small_mg {

    margin-bottom: 6rem;
  }

  .large_mg_top {

    margin-top: 3rem;

  }

  .large_pd_top {

    padding-top: 6rem;

  }

  .large_pd_bottom {

    padding-bottom: 6rem;

  }

  .map_style_space {

    margin-top: auto;
    margin-bottom: auto;
    height: 15rem;
  }

  .hockey_style_half_adult {
    background-size: cover;
    /* height: 31rem; */
    width: 100%;
    background-image: url('../img/Mike-Pradella.jpg');
}

.hockey_style_half_adult_goalie {
  background-size: cover;
  /* height: 31rem; */
  width: 100%;
  background-image: url('../img/aedo.png');
}


// .gallery_style {

//   background-size: cover;
//   /* height: 31rem; */
//   height: 25rem;
  

//   margin-bottom: auto;
//   margin-top: auto;
  
// }

.stats_area {

  height: 25rem;
  margin-bottom: auto;
  margin-top: auto;

}

.stats_frame_style {

  height: 25rem;

}

.footer_cont {

  padding-top: 2rem;
  padding-bottom: 4rem;
}


.footer_container_style {

  width: 100% !important;
  margin-top: 21rem;
  background-color: #333333;
    text-align: center;
    color: #f2f2f2;
}